<section class="user-about widget-box transparent span12">
  <section class="widget-header">
    <h4 class="lighter">About</h4>
  </section>
  <section class="widget-body">
    {{#if isEditingInfo}}
    {{view Ember.TextArea valueBinding="about" class="span12"}}
    {{else}}
    <pre>{{about}}</pre>
    {{/if}}
  </section>
</section>
