<section class="user-favorite-quotes widget-box transparent span6">
  <section class="widget-header">
    <h4 class="lighter">Favorite Quotes</h4>
  </section>
  <section class="widget-body">
    {{#if isEditingInfo}}
    {{view Ember.TextArea valueBinding="favoriteQuotes"}}
    {{else}}
    <pre>{{favoriteQuotes}}</pre>
    {{/if}}
  </section>
</section>
