<article class="user-friends-page">
  <section class="page-header user-friends-header">
    <h1>{{controllers.user.firstName}}'s Friends</h1>
  </section>
  <section class="user-friends-body">
    {{#each controller itemController="user"}}
    {{partial 'user'}}
    {{/each}}
  </section>
</article>
