<section class="navbar navbar-inverse navbar-fixed-top">
  <section class="navbar-inner">
    <section class="container-fluid">
      <a class="brand white" href="#">
        FauxBook
      </a>
      <form class="navbar-search">
        <input type="text" class="searchField" placeholder="Search">
      </form>
      <ul class="nav ace-nav pull-right">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-bell-alt icon-only"></i>
            <span class="badge badge-important">99</span>
          </a>
          <ul class="pull-right dropdown-navbar navbar-blue dropdown-menu
                     dropdown-caret dropdown-closer">
            <li><a href="#">Hello World</a></li>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="icon-envelope-alt icon-only"></i>
            <span class="badge badge-success">37</span>
          </a>
          <ul class="pull-right dropdown-navbar navbar-blue dropdown-menu
                     dropdown-caret dropdown-closer">
            <li class="nav-header">
              <i class="icon-warning-sign"></i>
              Hello world
            </li>
            <li>
              <a href="#">
                Hello universe
              </a>
            </li>
          </ul>
        </li>
        <li class="light-blue">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{currentUser.name}}
          </a>
          <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret
                     dropdown-closer">
            <li>
              <a href="#">
                <i class="icon-cog"></i>
                Settings
              </a>
            </li>
            <li>
              <a href="#">
                <i class="icon-user"></i>
                Profile
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="/users/sign_out" data-method="delete" rel="nofollow">Log Out</a>
            </li>
          </ul>
        </li>
      </ul>
    </section>
  </section>
</section>
