<section class="profile-info-row">
  <section class="profile-info-name">
    Profile Picture
  </section>
  <section class="profile-info-value">
    <form method="post" enctype="multipart/form-data" action="/users/current" id="profile-picture-form">
      <input name="authenticity_token" type="hidden" value="">
      <input type="hidden" name="_method" value="PUT">
      <input type="file" name="user[profile_picture]">
      <button type="submit" class="btn" {{action "uploadProfilePicture"}}>Upload File!</button>
    </form>
  </section>
</section>
<section class="profile-info-row">
  <section class="profile-info-name">
    Cover Picture
  </section>
  <section class="profile-info-value">
    <form method="post" enctype="multipart/form-data" action="/users/current" id="cover-picture-form">
      <input name="authenticity_token" type="hidden" value="">
      <input type="hidden" name="_method" value="PUT">
      <input type="file" name="user[cover_picture]">
      <button type="submit" class="btn" {{action "uploadCoverPicture"}}>Upload File!</button>
    </form>
  </section>
</section>
