<section class="user-small row-fluid">
  <section class="span4">
    <img class="profile-picture-small" {{bindAttr src="profilePictureUrlBig"}} alt="name">
  </section>
  <section class="span4">
    <section class="user-name">
      <h4>
        {{#linkTo 'user' this}}{{name}}{{/linkTo}}
      </h4>
    </section>
    <section class="number-of-friends">
      {{#linkTo 'user.friends' this}}
      {{numFriends}} Friends
      {{/linkTo}}
    </section>
  </section>
  <section class="friend-buttons span4">
    {{partial 'user/friend_buttons'}}
  </section>
</section>
