<article class="album-page">
  <section class="page-header albums-header">
    <h1>{{title}}</h1>
  </section>
  <section class="album-body">
    {{#if canEdit}}
    <form method="post" enctype="multipart/form-data" {{bindAttr action="formAction"}} id="photo-form">
      <input type="file" name="photo[picture]">
      <input type="text" name="photo[description]" placeholder="Enter a short description">
      <button type="submit" class="btn" {{action "uploadPhoto"}}>Upload Photo!</button>
    </form>
    {{/if}}
    <section class="photos">
      {{#if hasNoPhotos}}
      This album has no photos.
      {{/if}}
      {{#each photos itemController="photo"}}
      {{#linkTo 'photo' this}}
      <img {{bindAttr src="pictureUrlSmall"}}>
      {{/linkTo}}
      {{/each}}
    </section>
  </section>
</article>
