{{partial 'header'}}
<section class="container-fluid" id="main-container">
  {{partial 'sidebar'}}
  <section class="main-content">
    <section class="page-content">
      {{outlet}}
    </section>
  </section>
</section>
