<form method="post" enctype="multipart/form-data" action="/users/current" id="picture-form">
  <input name="authenticity_token" type="hidden" value="">
  <input type="hidden" name="_method" value="PUT">
  <input type="file" name="user[profile_picture]">
  <button type="submit" class="btn" {{action "uploadPicture"}}>Upload File!</button>
</form>
