<section class="photo-block">
  <img class="cover-picture" {{bindAttr src="coverPictureUrl"}} alt="Cover Picture">
  <img class="profile-picture" {{bindAttr src="profilePictureUrl"}} alt="Profile Picture">
  <h2>
    {{#linkTo 'user' model class="name-link"}}{{name}}{{/linkTo}}
  </h2>
</section>
