section.comment {
  padding: 0;
  margin: 5px;

  > .head {
    > section {
      float: left;
      margin: 5px;
    }
  }

  > .body {
    margin: 0 5px;
  }

  input[type=text] {
    width: 434px;
    margin: 0;
  }
}