pre {
  border: none;
  background-color: white;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#sidebar, .main-content {
  margin-top: 45px;
  padding: 0;
}

section.page-content {
  padding: 0;
}

.photo-block {
  position: relative;

  .cover-picture {
    width: 100%;
    height: 250px;
  }

  .profile-picture {
    position: absolute;
    bottom: 25px;
    left: 25px;
    border: 5px solid white;
  }

  > h2 {
    margin: 0;

    > .name-link {
      position: absolute;
      bottom: 25px;
      left: 275px;
      color: white;
    }
  }
}

.content-block {
  margin: 0;

  .profile-tab-group {
    float: left;
  }
}

.user-info-page {
  margin: 0 10px;

  .user-info-header {
    margin: 0;
    padding: 10px;
    
    h1 {
      margin: 0;
      display: inline-block;
    }
  }
}

.user-small {
  margin: 10px;
  display: inline-block;
  width: 500px;

  .profile-picture-small {
    width: 80px;
    height: 80px;
  }

  > .friend-buttons > button {
    width: 100%;
  }
}

section.timeline-body {
  margin-left: 0;
}

article.post {
  border: 1px solid #eee;
  padding: 0;
  margin: 10px;

  > .head {
    > section {
      float: left;
      margin: 5px;
    }

    > .poster-info {
      > img {
        width: 50px;
        height: 50px;
      }
    }
  }

  > .body {
    margin: 5px;
  }
}

section.comment {
  padding: 0;
  margin: 5px;

  > .head {
    > section {
      float: left;
      margin: 5px;
    }
  }

  > .body {
    margin: 0 5px;
  }
}