article.user-albums-page {
  > section.user-albums-body {
    margin: 10px;

    > section.new-album {
      > input {
        margin: 0;
      }
    }
  }

  .album {
    display: inline-block;

    img {
      display: block;
    }
  }
}