.user-info-page {
  margin: 0 10px;

  .user-info-header {
    margin: 0;
    padding: 10px;
    
    h1 {
      margin: 0;
      display: inline-block;
    }
  }

  textarea {
    width: 96%;
    height: 192px;
  }
}
